.aboutWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 15vh; /* to counter header fixed height of 10vh */
    width: 100%;
    
}

.imageTitle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.imageDiv{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;

    box-shadow: 
    0 0 20px 8px rgba(240, 236, 240, 0.593),
    0 0 40px 16px rgba(120, 40, 186, 0.593);
}

.imageDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imageDescription{
    width: 100%;
    font-size: 12px;
}

.titleDiv{
    margin-left: 1rem;
}