* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    width: 100vw;
    background-color: #11071f;
    color: #c4ccd1;
}
